.btn-block{
  background-color: #006BB0;
  border:1px #006BB0;
}
.btn-primary:hover{
  background-color: #A6CDE7;
}
.card{
  width:500px;
  height:350px;
}
.login-title{
  text-align:center;
}
.register{
  color:#006BB0;
 }
 .register:hover{
  text-decoration:none;
  color: #A6CDE7;
 }
 .login-img{
  height:100px;
  width:100px;
 }
 .img-container{
  position:absolute;
  left:38%;
  bottom:80%;
  width:130px;
  height:130px;
  border-radius:50%;
  border:1px solid black;
  overflow:hidden;
 }
 .img-container img{
  object-position:-1.5px -2px;
  width:100%;
  height:100%;
  object-fit:cover;
 }
 .card-body{
  position:relative;
  padding-top:100px;
 }
 .card-wrapper{
  margin-top:90px;
  height:100vh;
 }
