.btn-block{
  background-color: #006BB0;
  border:1px f6f9ff;
}
.btn-primary: hover{
  background-color: 968EAF;
}
.card{
  width:500px;
  height:300px;
}
.login-title{
  text-align:center;
}

 