<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <!-- <img src="../static/images/full-logo.png"> -->
  <title>INCLUSO 인클루소</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/images/favicon.png" rel="icon">
  <link href="../static/images/apple-touch-icon.png" rel="apple-touch-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Shantell+Sans&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="../static/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.profile.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <!-- <img src="../static/images/full-logo.png" alt=""> -->
        <span class="header-name">INCLUSO</span>
      </a>
      <!-- <i class="bi bi-list toggle-sidebar-btn"></i> -->
    </div><!-- End Logo -->

    <div class="search-bar">
  <form class="search-form d-flex align-items-center" method="POST" action="{{ url_for('search_results') }}">
    <input type="text" name="query" placeholder="Search" title="Enter search keyword">
    <button type="submit" title="Search"><i class="bi bi-search"></i></button>
  </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->


        {%if isLogin == True %}

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{{img_path}}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{username}}</span>
          </a><!-- End Profile Image Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{username}}</h6>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{url_for("profile")}}">
                <i class="bi bi-person"></i>
                <span>내 프로필</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href={{url_for("faq")}}>
                <i class="bi bi-question-circle"></i>
                <span>회사 소개</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href={{url_for("logout")}}>
                <i class="bi bi-box-arrow-right"></i>
                <span>로그아웃</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->
        
        {%else%}
        <a class="btn btn-primary" href={{url_for("login")}}>Login</a>

        {%endif%}

      </ul>     
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

 

  <main id="main" class="main">
      <section id = "About Us">
    <div class = "container">
       <div class="section-title text-center">
<img src="../static/images/remove-background-logo.png" class="img-fluid logo-2">
        <h2 class="incluso-h2">인클루소란?</h2>
        </div>  
      <div class="row">
        <div class="col-12">
      <h5 class="custom-text"> 2023년에 개설된 <strong>"인클루소"</strong>는 <strong>활동에 제약이 있는 분들을 위한 플랫폼</strong>입니다. 이 웹페이지는 시각, 청각, 언어, 신체 기능 등에서 어려움을 겪거나 정신적인 제약을 가지고 있는 분들이 보다 편리하게 대한민국 채용시장에 접근할 수 있도록 구성되었습니다. </h5>
 </div>
      </div>
      <div class="section-title text-center">
              <h2>왜?</h2>
      </div>  
      <div class="row">
        <div class="col-md-6">
          <h5 class="custom-text"> 이 웹페이지는 <strong>한국에 거주하는 장애인들이 직면한 취업 기회 부족 문제를 인식시키고 이를 해결하기 위해 개발</strong>되었습니다. 저는 한국에 거주하는 고등학생으로서, 장애인분들이 직면한 어려움을 직접적으로 목격하며 이를 해결할 필요성을 강하게 느꼈습니다. 시설의 불편함부터 타인의 불친절한 태도 등 그들이 겪고 있는 크고 작은 어려움을 덜어주고자 이 웹 사이트를 제작하게 되었습니다. 이를 통해 많은 분들이 더 나은 삶을 위한 기회를 찾을 수 있기를 기대합니다. 궁금한 사항이나 문의사항이 있으시면 아래 제공된 이메일이나 인스타그램을 통해 언제든 연락 주시기 바랍니다.
</h5>
<h5 class="custom-text">감사합니다:)</h5>
        </div>
        <div class="col-md-6 align-items-center justify-content-center" data-aos="fade-up" data-aos-duration="1500">
          <img src="../static/images/tim-mossholder-oY5mX1aW72A-unsplash.png" class="img-fluid faq-img2 ms-md-5">
        </div>
    </div>

  </section>
    <section id = "faq">
      <div class="container">
            <div class="section-title text-center">
              <h2>자주 묻는 질문</h2>
              <!-- <span>FAQ</span> -->
          </div>   
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <strong>이력서는 어떻게 제출해야 하나요?</strong>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                홈페이지에 원하는 직업에 "지원서 제출하기" 버튼 눌러서 이력서 제출하기. 
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <strong>하나의 이메일로 두 개의 프로필을 만들 수 있나요?</strong>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                하나의 이메일로는 프로필 하나만 만들 수 있습니다. 

              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <strong>제출한 이력서가 합격인지 불합격인지 어떻게 확인하나요? </strong>
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                 "내 프로필" 페이지에 있는 입사 지원서 현황에 지원서 현황을 보면 합격/불합격을 확인할 수 있습니다. 
              </div>
            </div>
          </div>
                     <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
           <strong> 지난 달에 신청했는데 승인되지 않았습니다. 이번 달에 다시 신청할 수 있나요?</strong>
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                회사에 따라 다를수 있습니다. 
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id = "contact">
      <div class="container">
            <div class="section-title text-center">
              <h2>Contact</h2>
            </div>           
          <div class="row">
            <div class="col-6">
                <h4 class="text-center"><i class="bi bi-envelope-fill"></i> incluso.kr@gmail.com</h4>
            </div>
            <div class="col-6">
                <h4 class="text-center"><i class="fa-brands fa-instagram"></i> incluso.kr</h4>


            </div>
        </div>
      </div>
    </section>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Incluso</span></strong>. All Rights Reserved
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="../static/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/chart.js/chart.umd.js"></script>
  <script src="../static/vendor/echarts/echarts.min.js"></script>
  <script src="../static/vendor/quill/quill.min.js"></script>
  <script src="../static/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="../static/vendor/tinymce/tinymce.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>
