<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Kodinger">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>My Signup Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style_signup.css">
    <style>
        /* CSS styles go here */
    </style>
</head>
<body>
<div class="card-wrapper">
    <div class="card" id="userInformationCard">
              <img class="card-img-top" src="../static/images/logo-2.png" alt="logo">

      <div class="card-body">
        <h4 class="card-title">사용자 정보</h4>
        <form actions="/signup" method="POST" class="my-signup-validation" novalidate="" id="signupForm">
          <!-- User Information Fields -->
            <div class="form-group">
            <label for="username">아이디:</label>
            <input type="text" name="username" class="form-control" id="username" required>
          </div>
                      <div class="form-group">
            <label for="username">패스워드:</label>
            <input type="text" name="password" class="form-control" id="password" required>
          </div>
          <div class="form-group">
            <label for="age">나이:</label>
            <input type="text" name="age" class="form-control" id="age" required>
          </div>
          <div class="form-group">
            <label for="email">이메일:</label>
            <input type="email" name="email" class="form-control" id="email" required>
          </div>

          <div class="form-group">
            <label for="phone">전화번호:</label>
            <input type="text" name="phone_number" class="form-control" id="phone_number" required>
          </div>
                    <div class="form-group">
            <label for="address">주소:</label>
            <input type="address" name="address" class="form-control" id="address" required>
          </div>
          <div class="form-group">
            <label for="gender">성별:</label>
            <select name="gender" id="gender" class="form-control">
              <option value="male">남성</option>
              <option value="female">여성</option>
              <option value="other">Other</option>
            </select>
          </div>

          <div class="form-group">
            <button type="button" class="btn btn-primary btn-block" id="nextBtn">Next</button>
          </div>
              <div id="errorMessages" class="alert alert-danger" style="display: none;"></div>

        
      </div>
    </div>

<div class="card hidden fade-in" id="interestCard">
              <img class="card-img-top" src="../static/images/logo-2.png" alt="logo">

  <div class="card-body">

    <h4 class="card-title">User Interests</h4>
    <form actions="/signup" method="POST" class="my-signup-validation" novalidate="">
      <!-- User Type Field -->
      <div class="form-group">
        <label for="userType">유저타입:</label>
        <select class="form-control" id="userType" name="userType">
          <option value="person">개인</option>
          <option value="company">회사</option>
        </select>
      </div>

      <!-- User Interests Fields -->
<!-- User Interests Fields -->
<div class="form-group">
                    <div class="form-group">
            <label for="address">장애등급:</label>
                        <select name="level" id="level" class="form-control">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
                            <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
                              <div class="form-group">
            <label for="address">활동제한:</label>
                        <select name="rest" id="rest" class="form-control">
              <option value="y">있음</option>
              <option value="n">없음</option>
            </select>
          </div>
  <label>관심 직종:</label>
  <div class="row">
    <div class="col-md-4">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="interests[]" value="interest1" id="interest1">
        <label class="form-check-label" for="interest1">경영/사무</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="interests[]" value="interest2" id="interest2">
        <label class="form-check-label" for="interest2">IT/인터넷</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="interests[]" value="interest3" id="interest3">
        <label class="form-check-label" for="interest3">디자인</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="interests[]" value="interest3" id="interest3">
        <label class="form-check-label" for="interest3">무역/유통</label>
      </div>
    </div>
        <div class="col-md-4">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="interests[]" value="interest3" id="interest3">
        <label class="form-check-label" for="interest3">교육</label>
      </div>
    </div>
        <div class="col-md-4">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="interests[]" value="interest3" id="interest3">
        <label class="form-check-label" for="interest3">의료</label>
      </div>
    </div>
        <div class="col-md-4">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="interests[]" value="interest3" id="interest3">
        <label class="form-check-label" for="interest3">서비스</label>
      </div>
    </div>
        <div class="col-md-4">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="interests[]" value="interest3" id="interest3">
        <label class="form-check-label" for="interest3">생산/제조</label>
      </div>
    </div>
        <div class="col-md-4">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="interests[]" value="interest3" id="interest3">
        <label class="form-check-label" for="interest3">전문/특수직</label>
      </div>
    </div>
    </div>  </div>
</div>


      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
      </div>
    </form>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
$(document).ready(function() {
  $('#nextBtn').click(function(event) {
    var isFormValid = true;

    // Check if any required fields are empty
    $('#signupForm input[required]').each(function() {
      if ($.trim($(this).val()) === '') {
        isFormValid = false;
      }
    });

    // Display error message if form is invalid
    if (!isFormValid) {
      event.preventDefault();
      $('#errorMessages').text('모든 정보를 입력하십시오.').show();
    } else {
      $('#userInformationCard').addClass('fade-out');
      setTimeout(function() {
        $('#userInformationCard').addClass('hidden');
        $('#interestCard').removeClass('hidden');
        setTimeout(function() {
          $('#interestCard').addClass('fade-in');
        }, 50);
      }, 500);
    }
  });
});

  </script>
</body>
</html>